rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    match /recipes/{recipe_id} {
      allow read;
      allow create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
     match /favorites/{favorite_id} {
      allow read;
      allow create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.addedBy.id;
    }
     match /comments/{comment_id} {
      allow read;
      allow create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.addedBy.id;
    }
  }
}

// users collection
// - any authenticated user can read & create documents
// - only users who "own/created" a document can update it (user id's match)

// recipes collection
// - any user (both authenticated and unauthenticated) can read a document
// - any authenticated user can create & update a document
// - only users who "own/created" a document can delete it

// favorites collection
// - any user (both authenticated and unauthenticated) can read a document
// - only authenticated user can create and update documents
// - only users who "own/created" a document can delete it (user id's match)

// comments collection
// - any user (both authenticated and unauthenticated) can read a document
// - only authenticated user can create and update documents
// - only users who "own/created" a document can delete it (user id's match)